{%load static %}
<link href="{%static 'boot/css/bootstrap-grid.css' %}" rel="stylesheet" type="text/css">
<link href="{%static 'boot/css/bootstrap-grid.min.css' %}" rel="stylesheet" type="text/css">
<link href="{%static 'boot/css/bootstrap-grid.rtl.css' %}" rel="stylesheet" type="text/css">
<link href="{%static 'boot/css/bootstrap-grid.rtl.min.css' %}" rel="stylesheet" type="text/css">
<link href="{%static 'boot/css/bootstrap-reboot.css' %}" rel="stylesheet" type="text/css">
<link href="{%static 'boot/css/bootstrap-reboot.min.css' %}" rel="stylesheet" type="text/css">
<link href="{%static 'boot/css/bootstrap-reboot.rtl.css' %}" rel="stylesheet" type="text/css">
<link href="{%static 'boot/css/bootstrap-reboot.rtl.min.css' %}" rel="stylesheet" type="text/css">
<link href="{%static 'boot/css/bootstrap-utilities.css' %}" rel="stylesheet" type="text/css">
<link href="{%static 'boot/css/bootstrap-utilities.min.css' %}" rel="stylesheet" type="text/css">
<link href="{%static 'boot/css/bootstrap-utilities.rtl.css' %}" rel="stylesheet" type="text/css">
<link href="{%static 'boot/css/bootstrap-utilities.rtl.min.css' %}" rel="stylesheet" type="text/css">
<link href="{%static 'boot/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
<link href="{%static 'boot/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
<link href="{%static 'boot/css/bootstrap.rtl.css' %}" rel="stylesheet" type="text/css">
<link href="{%static 'boot/css/bootstrap.rtl.min.css' %}" rel="stylesheet" type="text/css">