{% extends 'base.html' %}

{% block title %}Codingsection_Completed{% endblock title %}

{% block body %}

  <div class="container my-5">
    
    <h2 class="text-center"><b><u>Coding Section Ended</u></b></h2>
    <hr class="text-center mx-auto col-sm-6 mt-4">
    <h5 class="text-center"><b>Thank You..!<br>Your Code Has Been Submitted Successfully.<br><br><a href="/score">Click To View Your Score</a></b></h5>
    <hr class="text-center mx-auto col-sm-6">

  </div>
                    
{% endblock body %}