{% extends 'base.html' %}

{% block title %}Exam{% endblock title %}

{% block body %}

<style>
  body{
    background-color: cadetblue;
  }
</style>

  <div class="container mt-4">

    <div class="row">
            
      <div class="row">
        <div class="col-sm-13 active text-center text-black mb-2 py-2" aria-current="true"><h3><b><u>Programming - Test</u></b></h3></div>
        <div class="col-sm-8 bg-active bg-dark text-light p-3 text-center py-2"><h5><b>Questions</b></h5></div>
        <div class="col-sm-2 bg-active bg-dark text-light p-3 text-center py-2"><h5><b>Difficulty</b></h5></div>
        <div class="col-sm-2 bg-active bg-dark text-light p-3 text-center py-2"><h5><b>Status</b></h5></div>

        <div class="col-sm-8 bg-light p-3"><b>Write a program to Find sum multiplication and an average of two numbers.</b></div>
        <div class="col-sm-2 bg-light p-3 text-center"><b>Easy</b></div>
        <a class="col-sm-2 bg-light p-3 text-center" type="submit" href="/h" id="1"><button class="btn-outline-success"><b>Solve</b></button></a>

        <div class="col-sm-8 bg-light p-3"><b>Write a program to find square root of a number.</b></div>
        <div class="col-sm-2 bg-light p-3 text-center"><b>Easy</b></div>
        <a class="col-sm-2 bg-light p-3 text-center" type="submit" href="/h" id="2"><button class="btn-outline-success"><b>Solve</b></button></a>

        <div class="col-sm-8 bg-light p-3"><b>Write a program to check whether the given number is even or odd.</b></div>
        <div class="col-sm-2 bg-light p-3 text-center"><b>Medium</b></div>
        <a class="col-sm-2 bg-light p-3 text-center" type="submit" href="/h" id="3"><button class="btn-outline-success"><b>Solve</b></button></a>

        <div class="col-sm-8 bg-light p-3"><b>Write a program to Check whether a year is leap year or not.</b></div>
        <div class="col-sm-2 bg-light p-3 text-center"><b>Medium</b></div>
        <a class="col-sm-2 bg-light p-3 text-center" type="submit" href="/h" id="4"><button class="btn-outline-success"><b>Solve</b></button></a>

        <div class="col-sm-8 bg-light p-3"><b>Write a program to Check whether an alphabet is vowel or consonant.</b></div>
        <div class="col-sm-2 bg-light p-3 text-center"><b>Hard</b></div>
        <a class="col-sm-2 bg-light p-3 text-center" type="submit" href="/h" id="5"><button class="btn-outline-success"><b>Solve</b></button></a>

        <div class="col-sm-8 bg-light p-3"><b>Write a program to print multiplication table of a given number.</b></div>
        <div class="col-sm-2 bg-light p-3 text-center"><b>Hard</b></div>
        <a class="col-sm-2 bg-light p-3 text-center" type="submit" href="/h" id="6"><button class="btn-outline-success"><b>Solve</b></button></a>

      </div>

    </div>

  </div>

{% endblock body %}