{% extends 'base.html' %}

{% block title %}Exam{% endblock title %}

{% block body %}

  <style>
    body{
      background-color: rgb(119, 199, 231);
    }
    l{
      text-shadow: 2px 2px 10px rgb(112, 112, 112);
    }
  </style>

  <div class="container text-center my-5">
        <h3><b><l>Welcome to Online - Exam</l></b></h3>
    </div>

  <div class="container">

    <div class="col-sm-10 border mx-auto pb-3 px-3 pt-2">

      <b><h5 class="mt-3 px-4"><u>Short introduction of this website</u></h5></b>

      <b><p><li class="px-4">Online exam system for all your testing needs for assessment, recruitment, selection and certifications.</li></p></b>

      <b><p><li class="px-4">Its specialities movement of students are immensely helpful to avoid cheating during the examination.</li></p></b>

      <b><p><li class="px-4 pb-2">Recording of whole examination, timer, and live audio-visual of students </li></p></b>

      <b><p><li class="px-4">we will have the way for accuracy and reliability during the examination.</li></p></b>

      <div class="container text-center">
        <strong><a class="btn btn-light" type="submit" href="/exam">Start Exam</a></strong>
      </div>
      

    </div>
    
  </div>
                    
{% endblock body %}