{% extends 'cover.html' %}

{% block title %}password reset form{% endblock title %}

{% block body %}

    <div class="container my-5">
        <h2 class="text-center"><b><u>Password Reset Form</u></b></h2>
    </div>

    <h1>Forgotten your password?</h1>
    <p>Enter your Email address to obtain a new password.</p>
    <form action="/password_reset" method="POST">
        {{ form.as_p }}
        <p><input type="submit" value="Send e mail"></p>
        {% csrf_token %}
    </form>
    
{% endblock body %}