{% extends 'cover.html' %}

{% block title %}Reset your password{% endblock title %}

{% block body %}

    <div class="container my-5">
        <h2 class="text-center"><b><u>Reset Your Password</u></b></h2>
    </div>

    {% if validlink %}
        <p>Please enter your new password twice:</p>
        <form action="." method="POST">
        {{ form.a s_p }}
        {% csrf_token %}
        <p><input type="submit" value="Change my password" /></P>
        </form>
    {% else %}
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
    
{% endblock body %}